html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins
}

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  background-color: #E5E5E5;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -1px #000000;
  color: #000000;
}

.form-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;

}

.form-title-description {
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;

}

.form-control {
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
}

.form-label {
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding-left: 14px;
  width: 100%;
}


.span-forgot-password {
  display: block;
  text-align: right;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
}

.span-account {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.btn {
  background-color: #62D2C3;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px;
}

.btn:hover {
  background-color: #62D2FF;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-buttons button {
  margin: 5px;
}

.auth-buttons button svg {
  margin-right: 10px;
}

a {
  color: #62D2C3;
  text-decoration: none;
}

a:hover {
  color: #62D2FF;
}

.auth-error {
  background-color: #ffa978;
  border: 1px solid #ff0000;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  padding: 2px;
  color: red;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #FFFFFF;
    background: #FFA978;
  }
}